@font-face {
  font-family: "sangjuDajung";
  font-display: fallback;

  src: url("./SANGJU\ Dajungdagam.ttf") format("truetype");
}
@font-face {
  font-family: "sangjuGotgam";
  font-display: fallback;

  src: url("./SANGJU\ Gotgam.ttf") format("truetype");
}
@font-face {
  font-family: "orelega";
  font-display: fallback;

  src: url("./OrelegaOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "jua";
  font-display: fallback;

  src: url("./BMJUA_ttf.ttf") format("truetype");
}
@font-face {
  font-family: "nanumLight";
  font-display: fallback;

  src: url("./NanumSquareR.ttf") format("truetype");
}
