@font-face {
  font-family: "jua";
  font-display: fallback;

  src: url("./BMJUA_ttf.ttf") format("truetype");
}
@font-face {
  font-family: "nanumBarun";
  font-display: fallback;

  src: url("./NanumBarunpenR.ttf") format("truetype");
}
